
export RPC_PORT=8082
export RPC_BASE_URL="http://124.243.183.85:8082"

# Solver Contract Configuration
export SOLVER_CONTRACT_RPC_URL="https://rpc-testnet.qubetics.work"
export SOLVER_CONTRACT_ADDRESS="0x390bBeE9A268f273f3F5AF09BB5aE59516dd8327"
export INTENT_MANAGER_CONTRACT_ADDRESS ="0x0055Ca34A66D962d68A07a3e1BA6d75b9e4cD383"
export SOLVER_CONTRACT_CHAIN_ID="9029"

export SOLVER_CONTRACT_CHAIN_ID="9029"

export MPC_ETHEREUM_RPC_URL="https://rpc-testnet.qubetics.work"
export MPC_BITCOIN_RPC_URL= "https://stage-crypto-api.qubetics.work/api/v1/tx/broadcast"
export BACKEND_API_URL = "https://stage-crypto-api.qubetics.work"
export BTC_UTXO_API_BASE= "https://stage-crypto-api.qubetics.work"
export CHAIN_CODE_HEX="2919cd546f2c4338bccb4794a3d6afba2282e5729653fc2c2ff6c5e0e194abe4"
export RPC_API_KEY="2919cd546f2c4338bccb4794a3d6afba2282e5729653fc2c2ff6c5e0e194ar45"
export MPC_ETHEREUM_RPC_URL="https://rpc-testnet.qubetics.work"
export NETWORK_TYPE="testnet"
export QUBETICS_DB_ENCRYPTION_KEY = "00112233445566778899aabbccddeeff00112233445566778899aabbccddeeff"
export GLOBAL_CLOCK_INTERVAL_SECONDS=30
export TREASURY_VAULT_CONTRACT_ADDRESS = "0x433779CcB237405C5Cf7955c5664Ca92763fdBA2"
export MAX_INTENTS_PER_CYCLE=20
VERIFICATION_ADDRESS="0xbac113cebd9cb2fbd2a01b5cbc43d0fc0ebed5e9"
MAX_ADD_LIQUIDITY_BATCH = 10
RPC_URL=https://rpc-testnet.qubetics.work
SOLVER1_PK=aa5d2e1f7fc11bbe6f19b12316c7a9acb2d633bba798fc5a3fea547f1cf99b0a
SOLVER_MANAGER_ADDRESS=0xcD4ccd30dC6382bDC5863A42EFc895fa6A9E6EbC
TX_SENDER_PK=18f3355d5c8518e5b0d74194f07fb05d38fc195e3d5ea46bbdf9855559eca476
